@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0.4em;
}

.header {
  color: #ffff;
  padding: 20px;
  text-align: left;
  width: 100%;
}

.topnav {
  display: flex;
  padding-left: 20px;
  padding-right: 4rem;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  gap: 2em;
}

.topnav img {
  width: 25px;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 100%;
}

.topnav a:hover {
  background-color: #ffffff;
  color: black;
}

.search-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 60%;
  overflow: hidden;
}

.finder {
  font-size: 17px;
  height: 2em;
  border: none;
  width: 100%;
  direction: flex;
  justify-content: flex-end;
  border-radius: 20px;
  padding-left: 10px;
  border: 2px solid #a0a0a0;
  background-color: #ececec;
}

.topnav-icons {
  justify-content: flex-end;
  padding-right: 20px;
  background-color: aquamarine;
}

.icons {
  margin-left: 10px;
  justify-content: end;
}

.icons img {
  width: 20px;
  height: 20px;
}

.images {
  display: grid;
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  gap: 1rem;
  grid-template-rows: repeat(4, minmax(50px, 200px));
  grid-auto-rows: max-content;
  grid-auto-columns: max-content;
  filter: blur(0px);
}

.images div {
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  overflow: hidden;
}

.images div:nth-child(1) {
  grid-row: 1/3;
}

.images div:nth-child(3) {
  grid-column: 3/5;
}

.images div:nth-child(4) {
  grid-row: 2/4;
}
.images div:nth-child(6) {
  grid-row: 3/5;
}

.images div:nth-child(8) {
  grid-column: 3/5;
}
.images div:last-child {
  grid-row: -2;
}
@media screen and (max-width: 600px) {
  .images {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }
  .images div:nth-child(3) {
    grid-column: 1/3;
  }
  .images div:nth-child(8) {
    grid-column: 1/3;
  }
}
.images div img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.icons-container {
  display: flex;
  list-style: none;
}

.icons-container li {
  justify-content: end;
}

.access-container {
  display: flex;
  flex-direction: row-reverse;
  width: auto;
  gap: 20px;
}

.access-container i {
  font-size: 20px;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  width: 300px;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .overlay {
  opacity: 0.7;
}

.button {
  display: block;
  text-align: center;
  padding: 8px 16px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  position: absolute;

  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .button {
  opacity: 1;
}

.button1 {
  bottom: 20px;
  right: 20px;
}

.button2 {
  bottom: 20px;
  right: 60px;
}
